# Created by .ignore support plugin (hsz.mobi)
### Maven template
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

logs/log.log
.idea/workspace.xml
src/main/resources/tables/table.pdf
src/main/resources/tables/NewTable.docx
src/main/resources/tables/~$wTable.docx
src/main/resources/tables/~$Table.docx
*.meta
*.xml
*.zip
src/main/java/business/language/
bin
target/
